.field_with_errors{
  display: inline-block;
  border: 1px solid #f00;
}
.micropost{
  margin-bottom: 20px;
}
.micropost .name{
  display: block;
}
.micropost .message{
}
.micropost .buttons{
  padding-left: 1em;
}