.field_with_errors{
  border: 1px solid #f00;
}
.micropost{
  margin-bottom: 20px;
}
.micropost .name{
}
.micropost .age{
  padding-left: 0.5em;
}
.micropost .message{
  display: block;
}
.micropost .buttons{
  padding-left: 1em;
}